<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <PublishTrimmed>false</PublishTrimmed>
    <DebugSymbols>false</DebugSymbols>
    <DebugType>None</DebugType>
    <PublishDir>$(MSBuildProjectDirectory)\artifacts\publish\win-x64\</PublishDir>
  </PropertyGroup>
</Project>
